<mat-toolbar class="navigation mat-elevation-z8">
    <mat-toolbar-row>
        <button mat-button routerLink="/"><mat-icon>eco</mat-icon>Natsuyami Inventory</button>

        <div class="divider-space"></div>

        <button mat-button routerLink="/">Home</button>
        <button mat-button routerLink="about-us">About</button>
        <button mat-button routerLink="login">Login</button>
        <button mat-raised-button color="primary" routerLink="signup">Signup</button>
    </mat-toolbar-row>
</mat-toolbar>